
<form #personalDataForm="ngForm" (ngSubmit)="onSubmit(personalDataForm)">

  <p>
    <label for="firstname">First Name </label>
    <input type="text" id="firstname" name="firstname" [(ngModel)]="personalData.firstname">
  </p>

  <p>
    <label for="lastname">Last Name </label>
    <input type="text" id="lastname" name="lastname" [(ngModel)]="personalData.lastname">
  </p>

  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email"  [(ngModel)]="personalData.email">
  </p>

  <p>
    <label for="gender">Geneder </label>
    <input type="radio" value="male" id="gender" name="gender" [(ngModel)]="personalData.gender"> Male
    <input type="radio" value="female" id="gender" name="gender" [(ngModel)]="personalData.gender"> Female

  </p>

  <p>
    <label for="region">Region </label>
    <select id="region" name="region" [(ngModel)]="personalData.region">
      <option [ngValue]="c.id" *ngFor="let c of regionList">
        {{c.name}}
      </option>
    </select>
  </p>

  <div ngModelGroup="address">

    <p>
      <label for="city">City</label>
      <input type="text" id="city" name="city" [(ngModel)]="personalData.address.city">
    </p>

    <p>
      <label for="street">Street</label>
      <input type="text" id="street" name="street" [(ngModel)]="personalData.address.street">
    </p>

    <p>
      <label for="pincode">Pin Code</label>
      <input type="text" id="pincode" name="pincode"  [(ngModel)]="personalData.address.pincode">
    </p>

  </div>

  <p>
    <button type="submit">Submit</button>
  </p>

  <p>
    <button type="button" (click)="changeRegion()">Change Country</button>
    <button type="button" (click)="setDefaults()">Set Defaults</button>
    <button type="button" (click)="reset(personalDataForm)">Reset</button>
  </p>

  <b>valid</b> {{personalDataForm.valid}}
  <b>touched</b> {{personalDataForm.touched}}
  <b>pristine</b> {{personalDataForm.pristine}}
  <b>dirty</b> {{personalDataForm.dirty}}

</form>


<div>
  <app-template-driven-forms></app-template-driven-forms>
</div>
